@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding-top: 80px;
}

nav {
    position: fixed;
    top: 0;
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #113D80;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

nav .logo {

    color: white;
    font-size: 35px;
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0,3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    background: #f88f06;
}

nav .menu-btn i{
    color: #fff;
    cursor: pointer;
    display: none;
}

@media (max-width: 920px) {
    nav .menu-btn i{
        display: block;
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #103163;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    nav ul.open{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 50px 0;
    }
    nav ul li a{
        font-size: 23px;
    }
    nav ul li a.active,
    nav ul li a:hover {
    background: none;
    color: #f88f06;
    }
}

img.tamanho {
    width: 80px;
    height: 80px;
    margin-top: 4px;
    margin-left: -50px;
}


.resultados {
    background-color: #113D80;
    color: #fff;
    text-align: center;
}  

.gif {
    float: left;
    height: 400px;
    width: 500px;
    margin: 50px;
}

.parent {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 3 / 2; }
.div2 {
    grid-area: 1 / 2 / 3 / 3; 
    font-size: 12px;
    text-align: center;
    margin-top: 125px;
    margin-right: 100px;
    }

div.box {
    margin: 100px;
    width: 150px;
    display: inline-block;
}

.estatisticas {
    background: #fff;
    max-width: 960px;
    width: 90%;
    padding: 30px 0;
    margin: -40px auto 0 auto;
    text-align: center;

    display: flex;
    display: -webkit-flex;
    align-items: center;

    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0.3);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0.3);
}


.estatisticas-item span{
    font-size: 33px;
    font-weight: bold;
}

.estatisticas-item p{
    font-size: 20px;
}

/*BRACKPOINTS MÁXIMOS*/
@media (max-width: 767.9px) {
    .estatisticas{
        flex-direction: column;
    }
    .estatisticas-item {
        min-width: 90%;
    }
    .estatisticas-item:not(:last-of-type) {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #ccc;
    }
}

/*BRACKPOINTS MINÍMOS*/
@media(min-width: 768px) {
    .estatisticas{
        margin-top: -65px;
    }
    .estatisticas-item{
        text-align: center;
        display: flex;
        flex: 1;
        flex-direction: column;
    }
    .estatisticas-item:not(:last-of-type){
        border-right: 1px solid #ccc;
    }
}

